.input {
  position: absolute;
  top: 12px;
  right: 50px;
  box-sizing: border-box;
  width: 0px;
  height: 50px;
  padding: 0 20px;
  outline: none;
  font-size: 18px;
  border-radius: 50px;
  color: #29313a;
  border: 3px solid green;
  transition: all 0.8s ease;
}
::-webkit-input-placeholder {
  color: green;
}
.btns {
  position: absolute;
  width: 60px;
  height: 60px;
  background: green;
  border-radius: 50%;
  right: 45px;
  top: 4px;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  color: #fff;
  transition: all 0.8s ease;
}
.input.active {
  width: 350px;
  right: 10px;
}
.btns.animate {
  transform: rotate(-360deg);
  right: 10px;
}
